@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Paleta baseada nas suas imagens */
  --color-bg-dark: #0f172a;
  /* Fundo geral */
  --color-list-bg: #1e293b;
  /* Fundo das listas */
  --color-header: #f1f5f9;
  /* Header claro */
  --color-text-main: #0d0d0d;
  /* Texto principal */
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
}

/* Removemos o grid antigo do PetClinic que quebrava o layout */
#app {
  display: block;
  max-width: 100%;
  padding: 0;
}
