@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-bg-dark: #0f172a;
  --color-list-bg: #1e293b;
  --color-header: #f1f5f9;
  --color-text-main: #0d0d0d;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
}

#app {
  display: block;
  max-width: 100%;
  padding: 0;
}
